doctype html 
html 
    head 
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Trang chủ
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css")
        link(rel="stylesheet", href="./assets/css/style.css")
        link(rel="stylesheet", href="https://unpkg.com/aos@2.3.1/dist/aos.css")
        script(src="https://cdn.tailwindcss.com") 
        script(src="./tailwind.config.js") 
    body
        //- Header Top
        div(class="bg-primary py-[10px]")
            div(class="container text-white mx-auto relative")
                div(class="text-center sm:text-[14px] text-[12px]")
                    span Đăng ký để được giảm giá 20%. 
                    a(href="#" class="font-[500] underline") Đăng Ký Ngay
                div(class="absolute top-0 right-0 cursor-pointer sm:inline-block hidden") <i class="fa-solid fa-xmark"></i>
        
        //- End Header Top

        //- Header
        header(class="py-[24px]")
            div(class="container mx-auto flex items-center justify-between")
                
                //- Logo
                div(class="lg:text-[32px] text-[26px] font-[700] mr-[28px] inline-flex items-center")
                    //- Icon menu
                    div(class="mr-[19px] inline-block lg:hidden")
                        a(href="#" class="")
                            img(src="./assets/img/icon-menu.svg" class="")
                    a(href="#" class="text-primary") 28.SHOP
                //- Menu
                nav(class="mr-[28px] lg:block hidden")
                    ul(class="flex")
                        li(class="text-[16px] font-[400] mx-[12px]")
                            a(class="" href="") Giới Thiệu
                        li(class="text-[16px] font-[400] mx-[12px]")
                            a(class="" href="") Sản Phẩm
                        li(class="text-[16px] font-[400] mx-[12px]")
                            a(class="" href="") Bài Viết
                        li(class="text-[16px] font-[400] mx-[12px]")
                            a(class="" href="") Liên Hệ
                //- Search
                form(action="#" class="bg-[#F0F0F0] relative py-[12px] h-[48px] rounded-[62px] flex-1 mr-[40px] lg:block hidden")
                    input(class="absolute bg-transparent pl-[52px] pr-[10px] outline-none w-[100%]" type="text" placeholder="Tìm kiếm sản phẩm...") 
                    button(class="absolute text-[#00000066] text-[21px] left-[13px] top-[9px]") <i class="fa-solid fa-magnifying-glass"></i>
                //- Button action
                div(class="")
                    a(href="#" class="lg:hidden text-[21px] mr-[16px]") <i class="fa-solid fa-magnifying-glass"></i>
                    a(href="#" class="text-[21px] mr-[16px]") <i class="fa-solid fa-cart-shopping"></i>
                    a(href="#" class="text-[21px]") <i class="fa-regular fa-circle-user"></i>
        //- End Header

        //- Section 1
        div(class="bg-[#F2F0F1]")
            div(class="container mx-auto flex flex-wrap justify-between items-center")
                //- Left
                div(class="lg:w-[48%] w-[100%]")
                    h1(
                        class="xl:text-[48px] lg:text-[36px] text-[28px] lg:pt-[0px] pt-[40px] font-[900] lg:mb-[30px] mb-[20px]"
                        data-aos="fade-up" data-aos-duration="1000"
                    ) CHUYÊN THỜI TRANG PHONG CÁCH, HIỆN ĐẠI
                    p(
                        class="xl:text[16px] text-[14px] text-[#00000099] font-[400] lg:mb-[50px] mb-[30px]"
                        data-aos="fade-right" data-aos-duration="1000"
                    ) Chúng tôi chuyên cung cấp nhiều loại quần áo được chế tác tỉ mỉ, được thiết kế để làm nổi bật cá tính của bạn và đáp ứng phong cách của bạn.
                    a(
                        href="" class="bg-primary text-white py-[16px] px-[64px] rounded-[62px] lg:mb-[50px] mb-[30px] sm:inline-block block text-center"
                        data-aos="fade-up" data-aos-duration="1000"
                    ) Xem Ngay

                    div(class="flex flex-wrap sm:justify-start justify-center")
                        div(class="pr-[32px] sm:border-r border-[#0000001A] mr-[32px]")
                            div(class="xl:text-[40px] text-[24px] font-bold" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="300") 200+
                            p(class="xl:text-[16px] text-[12px] text-[#00000099] font-[400]" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="1000") Thương Hiệu 
                        div(class="pr-[32px] sm:border-r border-[#0000001A] mr-[32px] sm:pl-[0px] pl-[32px]")
                            div(class="xl:text-[40px] text-[24px] font-bold" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="300") 2,000+
                            p(class="xl:text-[16px] text-[12px] text-[#00000099] font-[400]" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="1000") Sản Phẩm Chất Lượng
                        div(class="sm:mr-[0px] mr-[32px] sm:pr-[0px] pr-[32px]")
                            div(class="xl:text-[40px] text-[24px] font-bold" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="300") 30,000+
                            p(class="xl:text-[16px] text-[12px] text-[#00000099] font-[400]" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="1000") Khách Hàng 
                //- Right
                div(class="lg:w-[48%] w-[100%] relative")
                    img(src="./assets/img/img-1.png" class="w-[100%] mt-[40px]")
                    img(src="./assets/img/star.svg" class="absolute top-[40%] left-[0px] sm:block hidden")
                    img(src="./assets/img/star.svg" class="absolute xl:w-[104px] w-[80px] top-[20%] right-[0px] sm:block hidden")
        //- End Section 1

        //- Section 2
        div(class="bg-primary pb-[12px] pt-[42px]")
            div(class="container mx-auto flex justify-center flex-wrap")
                div(class="sm:mx-[30px] mx-[17px] mb-[30px]")
                    img(src="./assets/img/partner-1.png" class="sm:h-[32px] h-[22px] w-auto")
                div(class="sm:mx-[30px] mx-[17px] mb-[30px]")
                    img(src="./assets/img/partner-2.png" class="sm:h-[32px] h-[22px] w-auto")
                div(class="sm:mx-[30px] mx-[17px] mb-[30px]")
                    img(src="./assets/img/partner-3.png" class="sm:h-[32px] h-[22px] w-auto")
                div(class="sm:mx-[30px] mx-[17px] mb-[30px]")
                    img(src="./assets/img/partner-4.png" class="sm:h-[32px] h-[22px] w-auto")
                div(class="sm:mx-[30px] mx-[17px] mb-[30px]")
                    img(src="./assets/img/partner-5.png" class="sm:h-[32px] h-[22px] w-auto")
        //- End Section 2

        //- Section 3
        div(class="lg:py-[62px] py-[40px]")
            div(class="container mx-auto")
                div(class="lg:text-[48px] text-[32px] font-[700] text-center lg:mb-[54px] mb-[32px]" data-aos="fade-down" data-aos-duration="1000") THỜI TRANG MỚI

                div(class="grid lg:grid-cols-4 grid-cols-2 mb-[40px] gap-[20px]")
                    -
                        var items = [
                            {
                                img: './assets/img/prod-1.jpg',
                                title: 'Áo Thun Nam Đơn Giản',
                                star: 5,
                                newPrice: '120.000',
                            },
                            {
                                img: './assets/img/prod-2.jpg',
                                title: 'Quần Jean Nam Phong Cách',
                                star: 5,
                                newPrice: '480.000',
                                oldPrice: '600.000',
                                discount: '20'
                            },
                            {
                                img: './assets/img/prod-3.jpg',
                                title: 'Áo Sơ Mi Caro',
                                star: 5,
                                newPrice: '220.000'
                            },
                            {
                                img: './assets/img/prod-4.jpg',
                                title: 'Áo Thun Nam Sọc Cam',
                                star: 5,
                                newPrice: '126.000',
                                oldPrice: '180.000',
                                discount: '30'
                            }
                        ];
                    //- Items
                    each item in items
                        div(class="")
                            a(href="#" class="block rounded-[20px] bg-[#F0EFED] aspect-square mb-[20px] truncate")
                                img(src=item.img class="w-[100%] h-[100%] object-cover")
                            a(href="#") 
                                p(class="md:text-[18px] text-[14px] font-[700] mb-[10px] inline-block") #{item.title}
                            //- star
                            div(class="text-[#FFC633] mb-[12px] lg:text-[18px] text-[15px]")
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                span(class="text-[#00000099] text-[14px] ml-[13px]") #{item.star}/5
                            //- Price
                            div(class="flex items-center flex-wrap") 
                                div(class="md:text-[18px] text-[14px] font-[700] mr-[10px]") #{item.newPrice}đ
                                if(item.oldPrice)
                                    div(class="text-[#00000066] text-[14px] font-[700] mr-[10px] line-through") #{item.oldPrice}đ
                                if(item.discount)
                                    div(class="py-[6px] px-[14px] bg-[#FF33331A] rounded-[62px] text-[#FF3333] text-[12px] font-[500]") -#{item.discount}%

                    
                div(class="text-center")            
                    div(class="border border-[#0000001A] md:text-[16px] text-[14px] font-[500] py-[16px] px-[54px] md:inline-block block rounded-[62px] cursor-pointer") Xem Tất Cả
        //- End Section 3

        //- Section 4
        div(class="lg:pb-[72px] pb-[40px]")
            div(class="container mx-auto border-t border-[#0000001A] lg:pt-[62px] pt-[40px]")
                div(class="lg:text-[48px] text-[32px] font-[700] text-center lg:mb-[54px] mb-[32px]" data-aos="fade-down" data-aos-duration="1000") GIẢM GIÁ NHIỀU

                div(class="grid lg:grid-cols-4 grid-cols-2 gap-[20px]")
                    -
                        var items = [
                            {
                                img: './assets/img/prod1-1.png',
                                title: 'Áo Sơ Mi Sọc Dọc',
                                star: 5,
                                newPrice: '120.000'
                            },
                            {
                                img: './assets/img/prod1-2.png',
                                title: 'Áo Thun Nam In Hình',
                                star: 5,
                                newPrice: '480.000',
                                oldPrice: '600.000',
                                discount: 20
                            },
                            {
                                img: './assets/img/prod1-3.png',
                                title: 'Quần Short Bermuda',
                                star: 5,
                                newPrice: '220.000'
                            },
                            {
                                img: './assets/img/prod1-4.png',
                                title: 'Quần Jean Màu Đen',
                                star: 5,
                                newPrice: '126.000',
                                oldPrice: '180.000',
                                discount: 30
                            },
                        ];
                    //- Items
                    each item in items
                        div(class="")
                            a(href="#" class="block rounded-[20px] bg-[#F0EFED] aspect-square mb-[20px] truncate")
                                img(src=item.img class="w-[100%] h-[100%] object-cover")
                            a(href="#")
                                span(class="lg:text-[20px] md:text-[18px] text-[14px] font-[700] mb-[10px] inline-block") #{item.title}
                            //- Star
                            div(class="text-[#FFC633] mb-[12px] lg:text-[18px] text-[15px]")
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                span(class="ml-[16px] text-[#00000099] text-[14px] font-[400]") #{item.star}/5
                            //- Price
                            div(class="flex items-center flex-wrap")
                                p(class="md:text-[18px] text-[14px] font-[700] mr-[10px]") #{item.newPrice}đ
                                if(item.oldPrice)
                                    p(class="text-[14px] text-[#00000066] line-through font-[700] mr-[10px]") #{item.oldPrice}đ
                                if(item.discount)
                                    p(class="py-[6px] px-[14px] text-[12px] font-[500] text-[#FF3333] bg-[#FF33331A] rounded-[62px]") -#{item.discount}%


                div(class="mt-[40px] text-center") 
                    a(href="" class="md:inline-block block py-[16px] px-[54px] border-[#0000001A] border-[1px] rounded-[62px] md:text-[16px] text-[14px] font-[500]") Xem Tất Cả
        //- End Section 4

        //- Section 5
        div(class="")
            div(class="container bg-[#F0F0F0] mx-auto lg:px-[64px] px-[24px] lg:py-[70px] py-[28px] rounded-[40px]")
                div(class="lg:text-[48px] text-[32px] font-[700] text-center lg:mb-[60px] mb-[16px]" data-aos="fade-down" data-aos-duration="1000") DANH MỤC NỔI BẬT

                div(class="grid xl:grid-cols-3 md:grid-cols-2 md:gap-[20px] gap-[16px]")
                    a(class="bg-[url('./assets/img/bg-1.jpg')] bg-center-top h-[289px] bg-cover rounded-[20px] relative" href="#" data-aos="fade-right" data-aos-duration="1000") 
                        span(class="lg:text-[36px] text-[24px] font-[700] absolute top-[5%] xl:left-[8%] left-[4%]") Đơn Giản
                    a(class="bg-[url('./assets/img/bg-2.jpg')] bg-center xl:col-span-2 h-[289px] bg-cover rounded-[20px] relative" href="#" data-aos="fade-left" data-aos-duration="1000") 
                        span(class="lg:text-[36px] text-[24px] font-[700] absolute top-[5%] left-[4%]") Lịch lãm
                    a(class="bg-[url('./assets/img/bg-3.jpg')] bg-center xl:col-span-2 h-[289px] bg-cover rounded-[20px] relative" href="#" data-aos="fade-right" data-aos-duration="1000") 
                        span(class="lg:text-[36px] text-[24px] font-[700] absolute top-[5%] left-[4%]") Dạ Hội
                    a(class="bg-[url('./assets/img/bg-4.jpg')] bg-center-top col-span-1 h-[289px] bg-cover rounded-[20px] relative" href="#" data-aos="fade-left" data-aos-duration="1000") 
                        span(class="lg:text-[36px] text-[24px] font-[700] absolute top-[5%] xl:left-[8%] left-[4%]") Gym
        //- End Section 5

        //- Section 6
        div(class="lg:py-[80px] pt-[40px] pb-[60px]")
            div(class="container mx-auto")
                div(class="lg:text-[48px] text-[32px] font-[700] lg:mb-[38px] mb-[32px]") CẢM NHẬN CỦA KHÁCH HÀNG

                div(class="grid lg:grid-cols-3 gap-[20px]")
                    -
                        var users = [
                            {
                                name: 'Le Van A',
                                comment: '"Tôi rất ngạc nhiên trước chất lượng và kiểu dáng của những bộ quần áo từ 28.SHOP. Từ trang phục thường ngày đến trang phục thanh lịch, mọi món đồ tôi mua đều vượt quá sự mong đợi của tôi."'
                            },
                            {
                                name: 'Le Van B',
                                comment: '"Việc tìm kiếm quần áo phù hợp với phong cách cá nhân của tôi từng là một thử thách cho đến khi tôi khám phá ra 28.SHOP. Hàng loạt lựa chọn mà họ cung cấp thực sự đáng chú ý."'
                            },
                            {
                                name: 'Le Van C',
                                comment: '"Là một người luôn tìm kiếm những món đồ thời trang độc đáo, tôi rất vui khi tình cờ biết đến 28.SHOP. Việc lựa chọn quần áo không chỉ đa dạng mà còn bắt kịp xu hướng mới nhất."'
                            }
                        ];
                    //- Items
                    each user in users
                        div(class="py-[28px] px-[32px] rounded-[20px] border border-[#0000001A]" data-aos="flip-up" data-aos-duration="1000")
                            //- Star
                            div(class="mb-[15px] text-[#FFC633]")
                                i(class="fa-solid fa-star mr-[6px]")
                                i(class="fa-solid fa-star mr-[6px]")
                                i(class="fa-solid fa-star mr-[6px]")
                                i(class="fa-solid fa-star mr-[6px]")
                                i(class="fa-solid fa-star")
                            //- Name
                            div(class="mb-[12px]")
                                span(class="lg:text-[20px] text-[16px] font-[700] mr-[4px]") #{user.name}
                                i(class="fa-solid fa-circle-check text-[#01AB31] text-[20px]")
                            //- Comment
                            div(class="lg:text-[16px] text-[14px] text-[#00000099] font-[400] leading-[22px]") #{user.comment}

                    
        //- End Section 6

        //- Section 7
        div(class="pb-[84px] relative z-10")
            div(class="container mx-auto lg:py-[36px] py-[32px] lg:px-[64px] px-[24px] bg-primary text-white rounded-[20px]")
                div(class="flex justify-between flex-wrap")
                    div(class="lg:w-[50%] w-[100%] xl:text-[40px] text-[32px] font-[700] lg:mb-[0px] mb-[20px]") CẬP NHẬT VỀ ƯU ĐÃI MỚI NHẤT CỦA CHÚNG TÔI
                    form(action="#" class="lg:w-[35%] w-[100%] relative")
                        i(class="fa-regular fa-envelope absolute text-[#00000066] text-[20px] left-[17px] top-[15px]")
                        input(class="outline-none text-[#00000066] md:text-[16px] text-[14px] h-[48px] w-[100%] rounded-[62px] pl-[52px] mb-[14px]" type="email", name="email", placeholder="Nhập email của bạn...")
                        button(class="w-[100%] text-primary bg-white py-[12px] rounded-[62px] text-center md:text-[16px] text-[14px] font-[500] cursor-pointer" type="submit") Đăng Ký Nhận Tin
        //- End Section 7

        footer(class="bg-[#F0F0F0]")
            div(class="container mx-auto mt-[-180px] pt-[135px] relative")
                div(class="md:pb-[48px] pb-[30px] mb-[30px] border-b border-[#0000001A] flex justify-between flex-wrap")
                    //- item 1
                    div(class="lg:w-[248px] w-[100%] lg:mb-[0px] mb-[40px]")
                        div(class="md:text-[33.45px] text-[28.85px] font-[700] text-primary md:mb-[25px] mb-[20px]") 28.SHOP
                        p(class="text-[14px] font-[400] text-[#00000099] md:mb-[35px] mb-[20px]") Chúng tôi có những bộ quần áo phù hợp với phong cách của bạn và bạn có thể tự hào khi mặc.
                        div(class="text-primary text-[28px]")
                            i(class="fa-brands fa-x-twitter mr-[12px]")
                            i(class="fa-brands fa-facebook mr-[12px]")
                            i(class="fa-brands fa-instagram")

                    //- item 2
                    div(class="md:w-[115px] w-[118px]")
                        div(class="text-[16px] font-[900] mb-[26px]") CÔNG TY
                        div(class="")
                            ul(class="")
                                li(class="mb-[22px]")
                                    a(href="#" class="text-[16px] font-[400]") Giới Thiệu
                                li(class="mb-[22px]")
                                    a(href="#" class="text-[16px] font-[400]") Sản Phẩm
                                li(class="mb-[22px]")
                                    a(href="#" class="text-[16px] font-[400]") Công Việc
                                li(class="")
                                    a(href="#" class="text-[16px] font-[400]") Việc Làm
                    
                    //- item 3
                    div(class="md:w-[182px] w-[187px]")
                        div(class="text-[16px] font-[900] mb-[26px]") Trợ giúp
                        div(class="")
                            ul(class="")
                                li(class="mb-[22px]")
                                    a(href="#" class="text-[16px] font-[400]") Hỗ Trợ Khách Hàng
                                li(class="mb-[22px]")
                                    a(href="#" class="text-[16px] font-[400]") Thông Tin Đơn Hàng
                                li(class="mb-[22px]")
                                    a(href="#" class="text-[16px] font-[400]") Điều Khoản & Điều Kiện
                                li(class="")
                                    a(href="#" class="text-[16px] font-[400]") Chính Sách

                    //- item 4
                    div(class="md:w-[149px] w-[150px] smm:mt-[0px] mt-[32px]")
                        div(class="text-[16px] font-[900] mb-[26px]") FAQ
                        div(class="")
                            ul(class="")
                                li(class="mb-[22px]")
                                    a(href="#" class="text-[16px] font-[400]") Tài Khoản
                                li(class="mb-[22px]")
                                    a(href="#" class="text-[16px] font-[400]") Quản Lý Đơn Hàng
                                li(class="mb-[22px]")
                                    a(href="#" class="text-[16px] font-[400]") Đơn Hàng
                                li(class="")
                                    a(href="#" class="text-[16px] font-[400]") Thanh Toán
                    
                    //- item 5
                    div(class="md:w-[132px] w-[171px] md:mt-[0px] mt-[32px]")
                        div(class="text-[16px] font-[900] mb-[26px]") Tài nguyên
                        div(class="")
                            ul(class="")
                                li(class="mb-[22px]")
                                    a(href="#" class="text-[16px] font-[400]") Sách Miễn Phí
                                li(class="mb-[22px]")
                                    a(href="#" class="text-[16px] font-[400]") Bài Viết
                                li(class="mb-[22px]")
                                    a(href="#" class="text-[16px] font-[400]") Kiến Thức
                                li(class="")
                                    a(href="#" class="text-[16px] font-[400]") Youtube

                div(class="pb-[84px] flex items-center md:justify-between justify-center flex-wrap")
                    div(class="md:mb-[0px] mb-[20px]") 28.SHOP © 2024, All Rights Reserved
                    div(class="flex")
                        img(src="./assets/img/foot_1.png" class="")
                        img(src="./assets/img/foot_2.png" class="")
                        img(src="./assets/img/foot_3.png" class="")
                        img(src="./assets/img/foot_4.png" class="")
                        img(src="./assets/img/foot_5.png" class="")
        script(src="https://unpkg.com/aos@2.3.1/dist/aos.js") 
        script(src="./assets/js/script.js") 
        //- End Footer